@import "mixins/misc";
@import "custom-medias";
@import "variables";

.home-page {
    @mixin size 100%, 100vh;

    background-image: url("~shared/media/images/backgrounds/desktop-background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.block,
.inner {
    height: 100%;
}

.block {
    padding: 138px 20px 53px 280px;
}

.inner {
    position: relative;
}

.logo {
    width: 230px;
    margin-bottom: 125px;
}

.inner h1 {
    max-width: 730px;
    margin-bottom: 34px;
    text-transform: initial;
}

.inner > p {
    max-width: 620px;
    margin-bottom: 83px;
    font-size: 22px;
    line-height: 32px;
}

.main-cta .svg {
    @mixin size 25px, 21px;

    fill: var(--color-white);
    margin-right: 14px;
}

.secondary-cta-area {
    @mixin position absolute, auto, auto, 0, 0;
}

.secondary-cta {
    display: flex;
    align-items: center;
}

.secondary-cta:hover {
    text-decoration: none;
}

.secondary-cta .svg,
.secondary-cta .svg-wrapper {
    @mixin size 8px, 14px;
}

.secondary-cta .svg-wrapper {
    margin-right: 8px;
    padding: 12px 12px 11px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-white);
}

.secondary-cta .svg {
    fill: var(--color-white);
}

.secondary-cta p {
    @mixin typography-smooth;

    margin: 0;
    font-size: 18px;
    font-weight: 300;
}

@media(--layout-lte-large) {
    .block {
        padding: 55px 20px 53px 105px;
    }

    .logo {
        margin-bottom: 95px;
    }

    .inner > p {
        margin-bottom: 40px;
    }
}

@media(--layout-lte-medium) {
    .block {
        padding: 45px 51px 138px;
    }
}

@media (--layout-lte-small) {
    .home-page {
        background-image: url("~shared/media/images/backgrounds/tablet-background.jpg");
    }

    .block {
        padding: 45px 51px 138px;
    }

    .logo {
        width: 194px;
        margin-bottom: 100px;
    }

    .inner h1 {
        max-width: 650px;
        margin-bottom: 36px;
        font-size: 50px;
        line-height: 58px;
    }

    .inner > p {
        margin-bottom: 123px;
    }

    .inner > p,
    .secondary-cta p {
        font-size: 19px;
    }

    .secondary-cta-area {
        bottom: 15px;
    }

    .twitter-icon {
        @mixin size 19px, 16px;
    }
}

@media(--layout-lte-xsmall) {
    .home-page {
        background-image: url("~shared/media/images/backgrounds/mobile-background.jpg");
    }

    .block {
        padding: 39px 22px 120px;
    }

    .logo {
        width: 150px;
        margin-bottom: 62px;
    }

    .inner h1 {
        max-width: 340px;
        margin-bottom: 13px;
        font-size: 26px;
        line-height: 32px;
    }

    .inner > p,
    .secondary-cta p {
        font-size: 14px;
    }

    .inner > p {
        margin-bottom: 76px;
        font-size: 12px;
        line-height: 18px;
    }

    .main-cta {
        padding: 10px 16.5px 11px 16px;
    }

    .main-cta .svg {
        @mixin size 20px, 20pxvh;
    }
}

@media(--layout-lte-xxsmall) {
    .home-page {
        background-image: url("~shared/media/images/backgrounds/mobile-2-background.jpg");
    }

    .block {
        padding: 39px 22px 50px;
    }
}

/* ==========================================================================
  Specific Device Media Queries
  ========================================================================== */

/* Iphone 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .home-page {
        height: calc(100vh + 39px);
    }
}

/* Ipad Landscape */
/* stylelint-disable */
@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 2) {
    .block {
        padding: 45px 45px 95px;
    }

    .logo {
        margin-bottom: 85px;
    }
}
/* stylelint-enable */
