@import "mixins/misc";
@import "custom-medias";
@import "variables";

.home-page {
    @mixin size 100%, 100vh;

    background-image: url("~shared/media/images/backgrounds/desktop-background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.block,
.inner {
    height: 100%;
}

.block {
    padding: 138px 20px 53px 375px;
}

.inner {
    position: relative;
}

.logo {
    width: 230px;
    margin-bottom: 125px;
}

.inner h1 {
    max-width: 730px;
    margin-bottom: 16px;
    text-transform: initial;
}

.inner > p {
    margin-bottom: 83px;
    font-size: 22px;
}

.twitter-cta {
    @mixin position absolute, auto, auto, 0, 0;

    display: flex;
    align-items: center;
}

.twitter-cta:hover {
    text-decoration: none;
}

.twitter-cta:hover .twitter-icon {
    fill: var(--color-twitter);
}

.twitter-cta:hover strong {
    color: var(--color-twitter);
}

.twitter-cta p,
.twitter-cta p + strong {
    font-size: 18px;
}

.twitter-icon {
    @mixin size 25px, 21px;

    fill: var(--color-white);
}

.twitter-cta p,
.twitter-cta strong, {
    font-size: 18px;
}

.twitter-cta p {
    @mixin typography-smooth;

    margin: 0 5px 0 17px;
    font-weight: 300;
}

@media(--layout-lte-large) {
    .block {
        padding: 55px 20px 53px 105px;
    }
}

@media(--layout-lte-medium) {
    .block {
        padding: 45px 51px 138px;
    }
}

@media (--layout-lte-small) {
    .home-page {
        background-image: url("~shared/media/images/backgrounds/tablet-background.jpg");
    }

    .block {
        padding: 45px 51px 138px;
    }

    .logo {
        width: 194px;
        margin-bottom: 100px;
    }

    .inner h1 {
        max-width: 650px;
        margin-bottom: 16px;
        font-size: 80px;
    }

    .inner > p {
        margin-bottom: 123px;
    }

    .inner > p,
    .twitter-cta p,
    .twitter-cta p + strong {
        font-size: 19px;
    }

    .twitter-cta {
        bottom: 15px;
        flex-direction: column;
        align-items: flex-start;
    }

    .twitter-icon {
        @mixin size 19px, 16px;
    }

    .twitter-cta p {
        margin: 23px 0 0;
        font-weight: 300;
    }
}

@media(--layout-lte-xsmall) {
    .home-page {
        background-image: url("~shared/media/images/backgrounds/mobile-background.jpg");
    }

    .block {
        padding: 39px 22px 120px;
    }

    .logo {
        width: 150px;
        margin-bottom: 62px;
    }

    .inner h1 {
        max-width: 340px;
        margin-bottom: 13px;
        font-size: 48px;
        line-height: 50px;
    }

    .inner > p,
    .twitter-cta p,
    .twitter-cta p + strong {
        font-size: 14px;
    }

    .inner > p {
        margin-bottom: 76px;
        font-size: 12px;
    }

    .twitter-cta p {
        margin-top: 15px;
    }
}

@media(--layout-lte-xxsmall) {
    .home-page {
        background-image: url("~shared/media/images/backgrounds/mobile-2-background.jpg");
    }

    .block {
        padding: 39px 22px 50px;
    }

    .inner h1 {
        font-size: 40px;
        line-height: 42px;
    }

    .inner > p {
        margin-bottom: 30px;
    }
}

/* ==========================================================================
  Specific Device Media Queries
  ========================================================================== */

/* Iphone 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .home-page {
        height: calc(100vh + 39px);
    }
}

/* Ipad Landscape */
/* stylelint-disable */
@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 2) {
    .block {
        padding: 45px 45px 95px;
    }

    .logo {
        margin-bottom: 85px;
    }
}
/* stylelint-enable */
