@import "custom-medias";

/* ==========================================================================
   Colors
   ========================================================================== */

/*
   See: https://davidwalsh.name/sass-color-variables-dont-suck
        http://chir.ag/projects/name-that-color
*/

:root {
    --color-white: #fff;
    --color-dark-blue: #20222f;
    --color-yellow: #f6a724;
    --color-twitter: #1da1f2;
}

/* ==========================================================================
   Typography
   ========================================================================== */

:root {
    --typography-display-font: "Rubik", sans-serif;
    --typography-text-font: "Rubik", sans-serif;
}

/* ==========================================================================
   Layout vars
   ========================================================================== */

:root {
    /* Header
       ============================================= */
    --layout-header-height: 50px;

    /* Spacing around main contents of the website
       ============================================= */
    --layout-edge-spacing: 30px;
    --layout-edge-spacing-x: 30px;
    --layout-edge-spacing-y: 30px;
}

@media (--layout-lte-small) {
    :root {
        --layout-edge-spacing: 30px 10px;
        --layout-edge-spacing-x: 10px;
    }
}
