/* ==========================================================================
   Document
   ========================================================================== */

/*
   1. Stretch <html> stretch to fill our screen height
   2. Make children of html (body) occupy at least 100% of the screen
   3. Viewport is scalable and occupies at least 320px (iPhone 5)
*/

html {
    min-width: 320px;
    min-height: 100%; /* 1 */
    display: flex; /* 2 */
    flex-direction: column; /* 2 */
}

/* ==========================================================================
   Body & #root
   ========================================================================== */

/*
   1. Force scroll always to prevent scrollbars to appear/disappear based on the page contents
   2. Make sure that we occupy 100% of our parent and allow our child elements to do the same
*/

body {
    overflow-y: scroll;  /* 1 */
    display: flex; /* 2 */
    flex-grow: 1;  /* 2 */
    flex-direction: column;  /* 2 */
}

#root {
    display: flex;  /* 2 */
    flex-grow: 1; /* 2 */
    flex-direction: column;  /* 2 */
}
